[Unit]
Description=Initialize Noctalia SDDM template config
ConditionPathExists=!%h/.config/noctalia/user-templates.toml

[Service]
Type=oneshot
ExecStartPre=/usr/bin/mkdir -p %h/.config/noctalia
ExecStart=/usr/bin/cp -n /usr/share/boppos-defaults/user-templates.toml %h/.config/noctalia/user-templates.toml

[Install]
WantedBy=default.target